.navList {
  &__items {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-family: "Lato", sans-serif;
  }
  &__items {
    &__anchor:hover {
      color: #3498db;
    }
  }
}
.name {
  &__anchor {
    font-family: "Lato", sans-serif;
  }
  &__anchor:hover {
    color: #2ecc71;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
  background-image: linear-gradient(to right, #3498db, #2ecc71);
}
