.hero {
  padding: 40px 80px;
  font-family: "Lato", sans-serif;
  display: flex;

  background-image: linear-gradient(to right, #aed6f1, #d2b4de);

  &__content {
    &__heading {
      font-size: 60px;
    }
    &__body {
      font-size: 20px;
    }
  }

  &__pic {
    &__img {
      height: 300px;
      border-radius: 20px;
    }
  }
}
